.Concert-container {
 text-align: center;
}

.Concert-date strong {
  font-weight: bold;
}

.Concert-location em {
  text-transform: uppercase;
  font-style: italic;
}

.Concert-project {
  text-transform: uppercase;
  color: var(--yellow-color)
}

@media screen and (min-width: 600px) {
  .Concert-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .Concert-info {
    width: 70%;
  }
}