@font-face {
  font-family: 'roboto';
  src: url('./fonts/Roboto-Medium.ttf')
}

@font-face {
  font-family: 'anton';
  src: url('./fonts/Anton-Regular.ttf')
}

.App {
  --yellow-color: #ffdc00;
  font-family: 'roboto'
}